.header
  {
    background-color: $color-mine-shaft;
    color: $color-white;
  }
  
  .header__top 
  {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem solid $color-mercury;
  color:red;
  }

.header__name {
  font-size: 2rem;
  padding: 1.5rem;
  display: inline-block;
}

.rbcf-menu {
  padding: 1.5rem;
  font-size: 2rem;
}