extends _component/layout/layout
block awesome-config
  -
    let title = `Roberto Blacke Replica`
    let description = `This will be an improved version`
block awesome-content
    p this is the landing page
    h2 testing the main page